# Dependencies
node_modules/
venv/
env/
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Django
db.sqlite3
media/
staticfiles/

# React
build/
.DS_Store
coverage/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
